<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <remove name="ReverseProxyInboundRule1" />
                <rule name="ReverseProxyInboundRule1" enabled="true" stopProcessing="false">
                    <match url="api/(.*)" />
                    <conditions />
                    <serverVariables />
                    <action type="Rewrite" url="https://localhost:3001/{R:0}" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
